<div class="banner" style="background-image: radial-gradient(250.49px at 50% 50%,#1f4456 0,#153342 100%), url('https://mathieuabeille.github.io/aca-consult/images/cockpit-09103586.jpg');">
  <div class="banner-content">
    <h1>Fastcontract</h1>
    <h4>Générez des contrats CDD en 1 click</h4>
    <br/>
    <% if user_signed_in? %>
      <%= link_to 'Nouveau Contrat', new_contrat_path, class: 'btn-medium btn-lg'  %>
    <% else %>
    <%= link_to "Inscription", new_user_session_path, class: 'btn-medium btn-lg'  %>
    <%= link_to "Connexion", new_user_registration_path, class: 'btn-medium btn-lg'  %>
    <% end %>
  </div>

</div>
<div class="box1">
    <div><%= image_tag 'login.png', class: "flatimg" %><h3>Inscription</h3> <p>en quelques secondes</p></div>
    <div><%= image_tag 'like.png', class: "flatimg" %><h3>Acceptation</h3><p>sous 24 heures</p> </div>
    <div><%= image_tag 'contract.png', class: "flatimg" %><h3>Générer</h3><p> des contrats CDD en 1 click</p></div>
  </div>
