<div class="logbox-contrat">
<%= simple_form_for([@employee, @contrat]) do |f| %>
  <%= f.error_notification %>
<div class="form-inputs">



<% @skip_footer = true %>
<!-- Modal -->



<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <center><h3>Nouveau contrat</h3></center>
      <%= f.input :remuneration, label: "Salaire horaire" %>
      <%= f.input :nomposte, collection: [ "Serveur", "Chef de rang", "Runner"] ,  selected: "Serveur", label: "Intitulé du poste" %>
      <div class=" col-sm-3">
        <%= f.input :jour1, as: :boolean, checked_value: true, unchecked_value: false, label: "Activer jour 1" %>
      </div>
      <div class=" col-sm-9">
        <%= f.input :jour1debut, label: "Horaire de début" %>
        <%= f.input :jour1fin, label: "Horaire de fin" %>
        <hr width="50%" align="left" color="#F56D55">
      </div>
      <div class=" col-sm-3">
        <%= f.input :jour2, as: :boolean, checked_value: true, unchecked_value: false, label: "Activer jour 2" %>
      </div>
      <div class=" col-sm-9">
        <%= f.input :jour2debut, label: "Horaire de début" %>
        <%= f.input :jour2fin, label: "Horaire de fin" %>
        <hr width="50%" align="left" color="#F56D55">
      </div>
      <div class=" col-sm-3">
        <%= f.input :jour3, as: :boolean, checked_value: true, unchecked_value: false, label: "Activer jour 3" %>
      </div>
      <div class=" col-sm-9">
        <%= f.input :jour3debut, label: "Horaire de début" %>
        <%= f.input :jour3fin, label: "Horaire de fin" %>
        <hr width="50%" align="left" color="#F56D55">
      </div>
      <div class=" col-sm-3">
        <%= f.input :jour4, as: :boolean, checked_value: true, unchecked_value: false, label: "Activer jour 4" %>
      </div>
      <div class=" col-sm-9">
        <%= f.input :jour4debut, label: "Horaire de début" %>
        <%= f.input :jour4fin, label: "Horaire de fin" %>
        <hr width="50%" align="left" color="#F56D55">
      </div>
      <div class=" col-sm-3">
        <%= f.input :jour5, as: :boolean, checked_value: true, unchecked_value: false, label: "Activer jour 5" %>
      </div>
      <div class=" col-sm-9">
        <%= f.input :jour5debut, label: "Horaire de début" %>
        <%= f.input :jour5fin, label: "Horaire de fin" %>
        <hr width="50%" align="left" color="#F56D55">
      </div>
      <div class=" col-sm-3">
        <%= f.input :jour6, as: :boolean, checked_value: true, unchecked_value: false, label: "Activer jour 6" %>
      </div>
      <div class=" col-sm-9">
        <%= f.input :jour6debut, label: "Horaire de début" %>
        <%= f.input :jour6fin, label: "Horaire de fin" %>
        <hr width="50%" align="left" color="#F56D55">
      </div>
      <div class=" col-sm-3">
        <%= f.input :jour7, as: :boolean, checked_value: true, unchecked_value: false, label: "Activer jour 7" %>
      </div>
      <div class=" col-sm-9">
        <%= f.input :jour7debut, label: "Horaire de début" %>
        <%= f.input :jour7fin, label: "Horaire de fin" %>
        <hr width="50%" align="left" color="#F56D55">
      </div>


    </div>
    </div>
  </div>
</div>



<!-- Modal 2 -->

 <center>
  <%= f.input :video, as: :boolean, checked_value: true, unchecked_value: false, label: "Présence de caméra de surveillance" %>
  <%= f.input :periodeessai, as: :boolean, checked_value: true, unchecked_value: false, label: "La période d'essai a été faite" %>

<div class="form-actions">
     <%= f.button :submit, "Créer le contrat", class: 'btn-medium', label: "Créer le contrat" %></center>

<% end %>
</div>
</div>
</div>





